BANKDATA_ROOT=.cache
BANKDATA_MEMORY_LIMIT=2GB
BANKDATA_THREADS=4
POLICIES_BUCKET=
DOCUMENTS_BUCKET=
POLICY_INDEX_ARN=
POLICIES_BUILDER_ROLE_ARN=
POLICY_EMBEDDING_MODEL_ID=cohere.embed-v4:0
POLICY_DOCS_DOMAIN=docs.factoredai.sdfles.com
